<!DOCTYPE html>
<html>
    <head>
        <title>Index Page</title>
    </head>
    <body>
        <h1>Buster's Best Bowling Alley</h1>
        <p>This is the bowling alley app landing page: displays their regular hours, dates of tournaments, bowling alley bar menus, and eventually, a way to reserve and pay for a lane online</p>
    </body>
</html>